@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "/src/App.css";

.browse-button {
  background-color: var(--primary);
  color: var(--back);
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1.2rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
}
