@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "/src/App.css";

.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 393px;
  background-color: var(--primary);
  padding: 0.7rem 0;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  z-index: 10;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item a {
  color: var(--back);
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item a.active {
  opacity: 1;
  transform: scale(1.15);
}
