@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "/src/App.css";

.profile-card {
  background-color: var(--back);
  border-radius: var(--spacing-md);
  padding: var(--spacing-lg);
  text-align: center;
  box-shadow: 0 4px 10px var(--shadow);
}

.profile-image-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  color: var(--text);
  font-family: var(--font-sans);
  margin-top: var(--spacing-md);
  font-size: var(--font-lg);
  font-weight: 700;
}

.profile-text {
  color: var(--text);
  font-family: var(--font-sans);
  margin: var(--spacing-xs);
  font-size: var(--font-base);
  text-align: center;
}

.profile-button {
  background-color: var(--primary);
  color: var(--back);
  border: none;
  border-radius: var(--spacing-md);
  padding: var(--spacing-sm) var(--spacing-md);
  margin-top: var(--spacing-sm);
  cursor: pointer;
  font-size: var(--font-base);
  font-weight: 500;
  transition: background-color 0.2s ease;
}
