@import "/src/App.css";

/* Get more information section */
.info-section {
  margin-top: var(--spacing-md);
}

.info-title {
  font-family: var(--font-sans);
  font-size: var(--font-base);
  font-weight: 400;
  color: var(--text);
  margin-bottom: var(--spacing-sm);
}

.info-buttons {
  display: flex;
  gap: var(--spacing-sm);
  flex-direction: row; 
  width: 100%;
  flex-wrap: nowrap;
}

.info-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--spacing-sm);
  font-family: var(--font-sans);
  font-size: var(--font-sm);
  text-decoration: none;
  border: 1px solid var(--primary);
  box-shadow: 0 8px 20px var(--shadow);
  flex: 1;
  text-align: center;
}

.info-btn-primary {
  background: var(--primary);
  color: var(--back);
  width: 100%; /* Adjust width to fit content */
}

.info-btn-secondary {
  /* background: var(--back); */
  color: var(--text);
  width: 100%; /* Adjust width to fit content */
}

.external-icon {
  margin-left: var(--spacing-xs);
  font-size: var(--font-xs);
}